.dashed {
    border-bottom: 1px dashed #999;
}

.hand {
    cursor: pointer;
}

.red {
    color: orangered;
}

.relative {
    position: relative;
}

.dnone {
    display: none;
}

.hidden {
    visibility: hidden;
}

.phantom {
    position: absolute;
    left: -100rem;
    width: 0;
    height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.grey, .grey a {
    color: #ccc;
}

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid gold;
  height: 50px;
  line-height: 50px;
  padding: 0 1rem;
  background-color: white;
  color: black;
}

nav a {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}

nav span {
  font-size: 1.25rem;
}

nav left {
    display: inline;
    float: left;
    font-size: 1.25rem;
    padding: 0 0.5rem;
}

nav center {
    display: inline;
    float: left;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.25rem;
    padding: 0;
    white-space: nowrap;
    text-decoration: none;
}

nav right {
    display: inline;
    float: right;
    font-size: 1.25rem;
    padding: 0 0.5rem;
}

.main {
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 2px;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  outline: 0;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #26a69a;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  transition: .2s ease-out;
  cursor: pointer;
}

.icon {
  display: block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  color: #26a69a;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #2bbbad;
}

.btn.danger {
  background-color: crimson;
}

.btn.cancel {
  background-color: white;
  color: black;
}

.halflings,
.glyphicons {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

nav .halflings, nav .glyphicons {
  line-height: 50px;
  font-size: 1.25rem;
}

.btn .halflings {
  color: inherit;
}

.button .halflings, .button .glyphicons {
  font-size: 1.5rem;
}

form .row {
  padding-bottom: 1rem;
}

form .row.submit {
  padding-top: 0.5rem;
}

input.date {
  width: 6rem;
}

input.time {
  width: 1.5rem;
  height: 2rem;
  text-align: center;
}

input.number {
  width: 8rem;
}

.wait {
  margin: 1rem 0;
  color: orange;
}

.reset {
  margin-left: 0.5rem;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  color: #ccc;
}

ul.menu li {
  white-space: nowrap;
}

ul.menu li a {
  text-decoration: none;
  color: black;
}

ul.menu li span {
  white-space: normal;
}

ul.menu li hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 1px;
  background: #ccc;
}

ul.menu li.red a {
  color: orangered;
}

.block-elements {
  float: left;
  width: 100%;
}

@media (min-width: 600px) {
  .block-elements {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .block-elements {
    width: 33%;
  }
}

.bottom-context-menu {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  background-color: white;
  border-top: 1px solid #ccc;
  text-align: center;
}

.bottom-context-menu .button {
  display: block;
  border: none;
  background-color: white;
  padding: 0;
  font-size: 0.9rem;
  text-align: center;
  vertical-align: middle;
  color: black;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  transition: .2s ease-out;
  cursor: pointer;
}

.confirm {
    display: none;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.confirm .container {
    position: absolute;
    z-index: 111;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 1rem 1.5rem;
    background-color: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border: none;
}

.confirm .content {
    border-bottom: 1px solid #eee;
    padding: 0.5rem 0 1rem 0;
    font-size: 1.2rem;
}

.confirm .content p {
    margin: 0;
    padding: 0 0 1rem 0;
}

.confirm .content div:last-child {
    padding-bottom: 0;
}

.confirm .buttons {
    float: right;
    padding: 1rem 0 0.5rem 0;
    white-space: nowrap;
}

.confirm .buttons .btn {
  margin-left: 1rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
}

.alert {
    display: none;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.alert .container {
    position: absolute;
    z-index: 111;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 1rem 1.5rem;
    background-color: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border: none;
}

.alert .content {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.alert .hide {
    position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: #ccc;
}

.block-ui {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}

.block-ui-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.sidebar {
  display: none;
  position: fixed;
  z-index: 110;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-container {
  position: absolute;
  z-index: 111;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: white;
  overflow: auto;
}

@media (min-width: 600px) {
  .alert-container {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    width: 300px;
  }

  .sidebar-container {
    right: auto;
    padding-right: 5rem;
  }
}

.non-overflow {
  overflow: hidden;
}

.path {
  margin-top: 0.5rem;
}

.path .halflings {
  margin: 0 0.5rem;
}

.next {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: 2px solid gold;
    border-radius: 2px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.next.waiting {
    background-color: gold;
    color: black;
}

.autocomplete-container {position: relative;}
.autocomplete-suggestions { margin-top: 1px; border: 1px solid #999; border-radius: 2px; background: #fff; overflow: auto; font-size: 1rem;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.errors {
    margin: 1rem -1rem;
    padding: 1rem;
    background-color: tomato;
    color: white;
}

input.invalid,
input.invalid:not([type]):focus:not([readonly]),
input.invalid[type=text]:focus:not([readonly]),
input.invalid[type=password]:focus:not([readonly]),
textarea.invalid:focus:not([readonly]),
select.invalid:focus:not([readonly]) {
  border-color: tomato;
}

.form {
  margin-top: 1rem;
}