.edit-favorites-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #cde;
}

.block-elements {
  float: left;
  display: inline-block;
  margin: 0 5rem 1rem 0;
}

.block-elements h2 {
    white-space: nowrap;
}

ul.elements li {
    white-space: nowrap;
}

.remove {
    position: relative;
}

.remove div {
    display: none;
    position: absolute;
    top: -2px;
    left: 1rem;
    font-size: 1.3rem;
    color: crimson;
}

.remove.small div {
    font-size: 1rem;
}