div.search-sort {
  margin: 1rem 0;
}

div.search-field {
  margin: 1rem 0;
}

div.search-field input[type=text] {
  width: 50%;
}

div.search-sort a {
  color: black;
}

ul.items li {
  padding: 0.5rem 0;
}

ul.items li a {
  color: #337ab7;
  text-decoration: underline;
}
